<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <h1>Maqolalar</h1>
        {% for maqola in maqolalar %}
        <br>
        <br>
        <h2>{{maqola.sarlavha}}</h2>
        <br>
        <br>
        <br>
        <h3>{{maqola.mavzu}}</h3>
        <br>
        <h3>{{maqola.matn}}</h3>
        <h3>{{maqola.muallif.ism}}</h3>

        {% endfor %}

        <form method="post" >{% csrf_token %}
            <input type="text" name="sarlavha">
            <input type="text" name="mavzu">
            <input type="text" name="matn">
            <button type="submit" class="btn">Qo'shish</button>

          <h3>User</h3>
                <a href="/logout/" >
                Log out
                </a>
</body>
</html>